* {
  box-sizing: border-box;
}
body {
  margin: 0;
  /* background-image: url("Yellow.jpg"); */
  background-image: url("b1.jpeg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.main-header {
  /* background-color: beige; */
  padding: 8px 16px;
}

.main-nav {
  display: inline-block;
  width: calc(100% - 110px);
  text-align: right;
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 15px;
}
#main-header__logo {
  /* color: #4c2e72; */
  color: #366d6f;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}
.main-nav__item a {
  text-decoration: none;
  color: #366d6f;

  font-size: 20px;
}
#contact_div {
  color: #366d6f;

  margin: 80px auto;

  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  font-size: 20px;
  background: transparent;
  width: 600px;
  min-height: 420px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact_ul {
  list-style: none;
}
#contact_ul li {
  padding-top: 15px;
}
#complaint_c {
  margin-left: 5px;
}

#button_login {
  margin-left: 45%;
  padding: 5px 15px;
  font-size: 15px;
}
#h2_contact {
  margin-left: 40px;
}
.c_error {
  display: none;
  /* margin-top: 5px; */
  margin-top: 10px;
  border: 2px solid rgba(32, 209, 156, 0.5);
  border-radius: 20px;
  background-color: rgba(32, 209, 156, 0.5);
  font-size: 20px;
}
